@model ARManila.Models.Others

@{
    ViewBag.Title = "Edit Other Fee";
}

<div class="content">
    <div class="block block-rounded">
        <div class="block-header block-header-default">
            <h3 class="block-title">Edit Other Fee</h3>
        </div>
        <div class="block-content">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.FeeID)
                @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })

                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Fee Name</label>
                    <div class="col-sm-6">
                        @Html.DropDownListFor(m => m.FeeNameId, (SelectList)ViewBag.feename, "-- Select Fee Name --", new { @class = "form-select" })
                        @Html.ValidationMessageFor(m => m.FeeNameId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Amount</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", type = "number", step = "any", min = "0" })
                        @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Subject</label>
                    <div class="col-sm-6">
                        @Html.DropDownListFor(m => m.SubjectID, (SelectList)ViewBag.SubjectID, "-- None --", new { @class = "form-select" })
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Section</label>
                    <div class="col-sm-6">
                        @Html.DropDownListFor(m => m.SectionID, (SelectList)ViewBag.SectionID, "-- None --", new { @class = "form-select" })
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">GL Account</label>
                    <div class="col-sm-6">
                        @Html.DropDownListFor(m => m.GlAccount, (SelectList)ViewBag.coa, "-- None --", new { @class = "form-select" })
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Subaccount</label>
                    <div class="col-sm-6">
                        @Html.DropDownListFor(m => m.SubAccount, (SelectList)ViewBag.sl, "-- None --", new { @class = "form-select" })
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">QNE GL Account</label>
                    <div class="col-sm-6">
                        @Html.DropDownListFor(m => m.QneGlAccount, (SelectList)ViewBag.qne, "-- None --", new { @class = "form-select" })
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-9 offset-sm-3">
                        <button type="submit" class="btn btn-primary me-2">Save Changes</button>
                        @Html.ActionLink("Cancel", "OtherFeeSetup", null, new { @class = "btn btn-secondary" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var feenamearray = @Html.Raw(Json.Encode(ViewBag.feenames));
            $("#FeeNameId").change(function () {
                LoadAmount($(this).val());
            });
            function LoadAmount(feenameid) {
                for (var i = 0; i < feenamearray.length; i++) {
                    if (feenamearray[i].FeeNameId == feenameid) {
                        $("#Amount").val(Number(feenamearray[i].Amount).toFixed(2));
                    }
                }
            }
        });
    </script>
}
