@model ARManila.Models.SubChartOfAccounts

@{
    ViewBag.Title = "EditSubLedgerSetup";
}

<h2>Edit Subsidiary Ledger - QNE Setup</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })    
    @Html.HiddenFor(model => model.SubAcctID)

    <div class="form-group">
        <label class="col-md-2">Account Code</label>
        <span class="col-md-8">
            @Model.SubAcctNo
        </span>
    </div>
    <div class="form-group">
        <label class="col-md-2">Account Name</label>
        <span class="col-md-8">
            @Model.SubbAcctName
        </span>
    </div>
    <div class="form-group">
        <label class="col-md-2">QNE Code</label>
        @Html.DropDownListFor(model => model.QNEAccountCode, (SelectList)ViewBag.qne, "", new { htmlAttributes = new { @class = "col-md-8" } })
        @Html.ValidationMessageFor(model => model.QNEAccountCode, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "SubLedgerSetup")
</div>
