@model ARManila.Models.Alpha4

@{
    ViewBag.Title = "Index";
}

<div class="content">
    <nav class="breadcrumb push bg-body-extra-light rounded-pill px-4 py-2">
        <span class="breadcrumb-item">Alpha4 Menu</span>
        <span class="breadcrumb-item active">Details</span>
    </nav>
    <div class="block block-rounded">
        <div class="block-content">
            <input type="button" class="btn btn-danger" id="studentfinderbutton" value="Student No Finder" />
            @if (Model != null)
            {
                <div class="row">
                    <h3>Student Number: @Model.StudentNo</h3>
                    <h3>Student Name: @Model.FullName</h3>
                    <h3>Valid Student No: @(Model.StudentId.HasValue ? "Yes" : "No")</h3>
                    <br />
                    @if (Model != null)
                    {
                        <table class="table table-bordered table-responsive">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Particular</th>
                                    <th>Debit</th>
                                    <th>Credit</th>
                                    <th>Doc No</th>
                                    <th>Doc Date</th>
                                    <th>Remarks</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Alpha4 Backaccount</td>
                                    <td align="right">@Model.Amount.ToString("#,##0.00")</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>@Model.BADate</td>
                                    <td>@Model.Remarks</td>
                                    <td>&nbsp;</td>
                                </tr>
                                @foreach (var item in Model.Alpha4Payment)
                                {
                                    <tr>
                                        <td>@(item.PaymentId.HasValue ? item.Payment.PaymentDetails.FirstOrDefault().Paycode.Description : "Migrated Payment" )</td>
                                        <td>&nbsp;</td>
                                        <td align="right">@item.Amount.ToString("#,##0.00")</td>
                                        <td>@item.OrNo</td>
                                        <td>@item.PaymentDate</td>
                                        <td>@item.Remarks</td>
                                        <td>
                                            @if (!item.IsMigrated)
                                            {
                                                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <caption>
                                Balance: @Model.Balance.ToString("#,##0.00")
                                <br />  @Html.ActionLink("Add Payment", "AddPayment", new { id = Model.Id }, new { @class = "btn btn-primary" })
                                <br/>
                                @Html.ActionLink("Print", "Print", new {id=Model.Id }, new {@class="btn btn-info" })
                            </caption>
                        </table>
                    }
                </div>
            }
        </div>

    </div>
    <div>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
    </div>
</div>
<div class="modal" tabindex="-1" id="searchstudentmodal" role="dialog" aria-labelledby="modal-dialog modal-lg" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="block block-rounded shadow-none mb-0">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Search Alpha List</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>

                </div>
                <div  class="block-content fs-sm">
                    <input type="text" id="searchstudenttext" placeholder="Lastname  or firstname" />
                    <button class="btn btn-primary" id="searchstudentbutton">Search</button>
                    <button class="buttonload" style="display:none" id="searchstudentloading">
                        <i class="fa fa-spinner fa-spin"></i>Loading
                    </button>
                    <div class="table-responsive">
                        <table id="searchstudenttable" class="table table-striped table-bordered"><thead><tr><td>Student No</td><td>Student Name</td><td>BA Date</td><td>Level</td></tr></thead></table>
                    </div>
                </div>
                <div class="block-content block-content-full block-content-sm text-end border-top">
                    <button type="button" class="btn btn-alt-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#studentfinderbutton").click(function () {
                $("#searchstudenttext").val("");
                $('#searchstudenttable').empty();
                $("#searchstudentmodal").modal('show');
            });
            $("#searchstudentbutton").click(function () {
                getStudents($("#searchstudenttext").val());
            });
        });

        function getStudents(searchtext) {
            $.ajax({
                type: "GET",
                url: "/SearchAlphaList/" + searchtext,
                beforeSend: function (data) {
                    $("#searchstudentloading").css("display", "inline");
                },
                complete: function (data) {
                    $("#searchstudentloading").css("display", "none");
                },
                success: function (data) {

                    var searchstudenttable = $('#searchstudenttable');
                    searchstudenttable.empty();
                    searchstudenttable.append('<thead class="thead-dark"><tr><th>Student No</th><th>Student Name</th><th>BA Date</th>' +
                        '<th>Level</th></tr ></thead > <tbody>');
                    $.each(data, function (index, val) {
                        searchstudenttable.append('<tr><td><a href="/Alpha4/Detail/' + val.Id + '">' + val.StudentNo + '</a></td><td>' + val.FullName + '</td>' +
                            '<td>' + val.BADate + '</td><td>' + val.Level + '</td></tr>');
                    });
                },
                error: function (data) {

                }
            });
        }


    </script>
}