@model ARManila.Models.ReportsDTO.BackaccountSummaryDTO
@{
    ViewBag.Title = "BackaccountSummary";
}
<nav class="breadcrumb push bg-body-extra-light rounded-pill">
    <span class="breadcrumb-item">Report Menu</span>
    <span class="breadcrumb-item active">Backaccount Summary</span>
</nav>

<h2>Backaccount Summary</h2>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-lg-8">
            <div class="mb-12">
                <label class="form-label">Select School Year</label>
                <div class="space-x-0">
                    @for (int i = 0; i < Model.GetBackaccountSchoolYear_Result.Count; i++)
                    {
                        <div class="form-check form-check-inline">
                            @Html.HiddenFor(m => Model.GetBackaccountSchoolYear_Result[i].SchoolYearID)
                            @Html.HiddenFor(m => Model.GetBackaccountSchoolYear_Result[i].SchoolYearName)
                            @Html.CheckBoxFor(m => Model.GetBackaccountSchoolYear_Result[i].IsSelected,
                                new
                                {
                                    @class = "form-check-input",
                                    @checked = ""
                                })
                            <label class="form-check-label" for="example-checkbox-inline1">@Model.GetBackaccountSchoolYear_Result[i].SchoolYearName</label>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="mb-12">
                <label class="form-label">As Of Date</label>
                <input type="date" value=@Model.AsOfDate.ToString("yyyy-MM-dd") name="AsOfDate" id="AsOfDate" class="form-control" />
            </div>
            <div class="mb-12">
                <label>View As</label>
                <select id="ViewAs" name="ViewAs" class="form-select">
                    <option value="1">Web</option>
                    <option value="2">PDF</option>
                    <option value="3">Excel</option>
                </select>
            </div>
            <div class="mb-12">
                <label>Report Type</label>
                <select id="ReportType" name="ReportType" class="form-select">
                    <option value="1">Details</option>
                    <option value="2">Summary</option>
                </select>
            </div>
            <div class="mb=12">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<hr />
@if (Model.BackaccountDtos.Count > 0)
{
    foreach (var group1 in Model.BackaccountDtos.GroupBy(m => new { m.EducationalLevelId, m.EducationalLevel }))
    {
        <h2>@group1.Key.EducationalLevel</h2>
        if (group1.Key.EducationalLevelId < 4 && Model.ReportType != 1)
        {
            <table class="table table-bordered table-striped table-vcenter js-dataTable-full dataTable no-footer" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                <thead>
                    <tr>
                        <th>School Year</th>
                        <th>Stat</th>
                        <th>Total</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var group2 in group1.GroupBy(m => new { m.SchoolYearId, m.SchoolYear }))
                    {
                        <tr>
                            <td>@group2.Key.SchoolYear</td>
                            <td>@group2.Count()</td>
                            <td>@group2.Sum(m => m.Amount).ToString("#,##0.00")</td>
                            <td>@group2.Sum(m => m.Balance).ToString("#,##0.00")</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            foreach (var group2 in group1.OrderBy(m => m.StudentName).GroupBy(m => new { m.SchoolYearId, m.SchoolYear }))
            {
                if (Model.ReportType == 1)
                {
                    <table class="table table-bordered table-striped table-vcenter js-dataTable-full dataTable no-footer" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                        <caption style="caption-side: top">@group2.Key.SchoolYear</caption>
                        <thead>
                            <tr>
                                <th>Student No</th>
                                <th>Student Name</th>
                                <th>Semester</th>
                                <th>Department</th>
                                <th>Amount</th>
                                <th>Balance</th>
                                <th>Payments</th>
                                <th>DMCM</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in group2)
                            {
                                <tr class="odd">
                                    <td>@item.StudentNo</td>
                                    <td>@item.StudentName</td>
                                    <td>@item.CompletePeriodName</td>
                                    <td>@item.Department</td>
                                    <td>@item.Amount.ToString("#,##0.00")</td>
                                    <td>@item.Balance.ToString("#,##0.00")</td>
                                    <td>@item.Payment</td>
                                    <td>@item.DMCM</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <table class="table table-bordered table-striped table-vcenter js-dataTable-full dataTable no-footer" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                        <caption style="caption-side: top">
                            @group2.Key.SchoolYear
                        </caption>
                        <thead>
                            <tr>
                                <th>Semester / Term </th>
                                <th>Stat </th>
                                <th>Total </th>
                                <th>Balance </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var group3 in group2.GroupBy(m => new { m.PeriodName }))
                            {
                                <tr>
                                    <td>@group3.Key.PeriodName</td>
                                    <td>@group3.Count()</td>
                                    <td>@group3.Sum(m => m.Amount).ToString("#,##0.00")</td>
                                    <td>@group3.Sum(m => m.Balance).ToString("#,##0.00")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        }

    }
}
