@model ARManila.Models.BackaccountWrapper

@{
    ViewBag.Title = "Edit";
}

<div class="content">
    <nav class="breadcrumb push bg-body-extra-light rounded-pill px-4 py-2">
        <span class="breadcrumb-item">Backaccount Menu</span>
        <span class="breadcrumb-item active">Edit Backaccount</span>
    </nav>
    <div class="block block-rounded">
        <div class="block-content">
            <div class="row">
                <div class="col-lg-4">
                    <h4>Backaccount Editor</h4>
                    <p class="text-muted">Student No: @Model.StudentNo
                    <br />Student Name: @Model.StudentName
                    <br />Backaccount Source: @Model.Period</p>
                </div>
                <div class="col-lg-8 col-xl-5">
                    @using (Html.BeginForm("Edit", "Backaccount", FormMethod.Post, new { @class = "mb-5" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.BackaccountId)
                        @Html.HiddenFor(model => model.PeriodId)
                        @Html.HiddenFor(model => model.StudentId)
                        <div class="row mb-4">
                            <label class="col-sm-4 col-form-label" for="">Amount</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", @type = "number", @step = "0.01" })
                                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label class="col-sm-4 col-form-label" for="">Fowareded Amount</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.ForwardedAmount, new { @class = "form-control", @type = "number", @step = "0.01" })
                                @Html.ValidationMessageFor(model => model.ForwardedAmount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label class="col-sm-4 col-form-label" for="">Forward to this assessment or select none to unlink to any assessment.</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.AssessmentId, (List<SelectListItem>)ViewBag.assessment, "None", new { @class = "form-select" })
                                @Html.ValidationMessageFor(model => model.AssessmentId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-sm-8 ms-auto">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
