@model IEnumerable<ARManila.Models.BackAccount>

@{
    ViewBag.Title = "Index";
}

<div class="content">
    <nav class="breadcrumb push bg-body-extra-light rounded-pill px-4 py-2">
        <span class="breadcrumb-item">Backaccount Menu</span>
        <span class="breadcrumb-item active">Backaccount</span>
    </nav>
    <div class="block block-rounded">
        <div class="block-content">
            <div class="row">
                <h3>List of Backaccounts From this period.</h3>
                <br />
                @if (Model != null && Model.Count() > 0)
                {
                    <table class="table table-bordered" id="table">
                        <thead>
                            <tr>
                                <th>Student No</th>
                                <th>Student Name</th>
                                <th>
                                    Forwarded To
                                </th>
                                <th>
                                    Amount
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var a = "key" + item.BankAccountID;
                                <tr>
                                    <td>@item.Student.StudentNo</td>
                                    <td>@item.Student.FullName256</td>
                                    <td>
                                        @(item.Student_SectionID.HasValue ? item.Student_Section.Section.Period.FullName: "" )
                                    </td>
                                    <td>
                                        @item.Balance.Value.ToString("#,##0.00")
                                    </td>
                                    <td>
                                        @Html.ActionLink("Details", "DisplayBackaccounts", new { studentno = item.Student.StudentNo }, new { @class = "btn btn-primary" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>