@model ARManila.Models.Miscellaneous
@{
    ViewBag.Title = "CreateSupplementalFeeSetup";
}

<h2>Update Miscellaneous Fee Setup</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.FeeID)
    <div class="form-group">
        <label for="FeeName1" class="col-md-2">Fee Name</label>
        @Html.DropDownListFor(model => model.FeeNameId, (SelectList)ViewBag.feename, "", new { htmlAttributes = new { @class = "col-md-8" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="Amount" class="col-md-2">Amount</label>
        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "col-md-8", type = "number", step = "any" } })
        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="NewStatus" class="col-md-2">Apply To:</label>
        @Html.RadioButtonFor(model => model.NewStatus, "", new { @checked = "checked" }) All Students
        @Html.RadioButtonFor(model => model.NewStatus, "false") Old Students
        @Html.RadioButtonFor(model => model.NewStatus, "true") New Students
        @Html.ValidationMessageFor(model => model.NewStatus, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="YearLevel" class="col-md-2">Apply To:</label>
        @Html.DropDownListFor(model => model.YearLevel, (SelectList)ViewBag.gradelevel, "", new { htmlAttributes = new { @class = "col-md-8" } })
    </div>
    <div class="form-group">
        <label for="GlAccount" class="col-md-2">GL Account:</label>
        @Html.DropDownListFor(model => model.GlAccount, (SelectList)ViewBag.coa, "", new { htmlAttributes = new { @class = "col-md-8" } })
    </div>
    <div class="form-group">
        <label for="SubAccount" class="col-md-2">Subaccount:</label>
        @Html.DropDownListFor(model => model.SubAccount, (SelectList)ViewBag.sl, "", new { htmlAttributes = new { @class = "col-md-8" } })
    </div>
    <div class="form-group">
        <label for="QneGlAccount" class="col-md-2">QNE GL Account:</label>
        @Html.DropDownListFor(model => model.QneGlAccount, (SelectList)ViewBag.qne, "", new { htmlAttributes = new { @class = "col-md-8" } })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "MiscFeeSetup")
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {            
            var feenamearray = @Html.Raw(Json.Encode(ViewBag.feenames));         
            $("#FeeNameId").change(function () {
                $("#Amount").val();
                LoadAmount($("#FeeNameId").val());
            });
            function LoadAmount(feenameid) {
                for (var i = 0; i < feenamearray.length; i++) {                   
                    if (feenamearray[i].FeeNameId == feenameid) {
                        $("#Amount").val(Number(feenamearray[i].Amount).toFixed(2));
                    }
                }
            }
        });
    </script>
}