@model ARManila.Models.BatchDmcm

@{
    ViewBag.Title = "BatchDMCM";
}

<div class="p-3">
    <h2>Batch DMCM</h2>
    @using (Html.BeginForm("BatchDMCM", "DMCM", FormMethod.Post))
    {
        <div class="row mb-4">
            <div class="col-4">
                <label for="programid" class="form-label">Program:</label>
                @Html.DropDownList("programid", (IEnumerable<SelectListItem>)ViewBag.programs, "", new { @class = "form-select" })
            </div>
            <div class="col-4">
                <label for="sectionid" class="form-label">Section:</label>
                @Html.DropDownList("sectionid", (IEnumerable<SelectListItem>)ViewBag.sections, "", new { @class = "form-select" })
            </div>
            <div class="col-4">
                <label for="subjectid" class="form-label">Subject:</label>
                <select id="subjectid" name="scheduleid" class="form-select"></select>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-4">
                <input type="submit" value="Load Students" class="form-control btn btn-primary" />
            </div>
        </div>
    }

    @if (Model != null && Model.Students != null && Model.Students.Count() > 0)
    {
        using (Html.BeginForm("PostBatchDmcm", "DMCM", FormMethod.Post))
        {
            <h3 class="col-md-12">@Html.EditorFor(m => m.IsDebit) Is debit?</h3>
            <h3 class="col-md-12">Account Code: @Html.DropDownListFor(m => m.AccountId, (SelectList)ViewBag.accounts, "", null) </h3>
            <h3 class="col-md-12">SubLedger Code @Html.DropDownListFor(m => m.SubaccountId, (SelectList)ViewBag.subaccounts, "", null) </h3>
            <h3 class="col-md-12">Amount @Html.TextBoxFor(m => m.Amount, "", new { @type = "number", @class = "text-align: right" }) </h3>
            <h3 class="col-md-12">Particulars: @Html.TextBoxFor(m => m.Particular, "")</h3>
            <h3>Posting Date: @Html.TextBoxFor(m => m.PostingDate, "", new { @type = "Date" })</h3>
            <h3><input type="submit" value="Post" /></h3>
            <h3><input type="checkbox" id="IsSelectedAll" name="IsSelectedAll" /> Apply to all students</h3>
            <table class="table table-bordered table-striped table-vcenter">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Student No
                        </th>
                        <th>Student Name</th>
                        <th>
                            Validation Date
                        </th>
                        <th>
                            Section
                        </th>
                        <th>
                            Payment Mode
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Students.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.EditorFor(modelItem => Model.Students[i].IsSelected)
                                @Html.HiddenFor(modelItem => Model.Students[i].StudentID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Students[i].Student.StudentNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Students[i].Student.FullName)
                            </td>
                            <td>
                                @(Model.Students[i].ValidationDate.HasValue ? Model.Students[i].ValidationDate.Value.ToShortDateString():"")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Students[i].Section.SectionName)
                                @Html.HiddenFor(modelItem => Model.Students[i].Section.Curriculum.AcaDeptID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Students[i].Paymode.Description)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#chkselectall").click(function () {

            });

            var subjectarray = @Html.Raw(Json.Encode(ViewBag.subjects));

            $("#sectionid").change(function () {
                LoadSubject($("#sectionid").val());
            });
            $("#subjectid").change(function () {
                if ($("#sectionid").val() !== "") {                    
                    var sectionsubjectarray = @Html.Raw(Json.Encode(ViewBag.sectionsubjects));
                    for (var i = 0; i < sectionsubjectarray.length; i++) {
                        if (sectionsubjectarray[i].subjectid == $("#subjectid").val()) {
                            $("#particular").val(sectionsubjectarray[i].SubjectCode + '-' + sectionsubjectarray[i].Description);
                        }
                    }
                }
                else {
                    for (var i = 0; i < subjectarray.length; i++) {
                        if (subjectarray[i].ScheduleId == $("#scheduleid").val()) {
                            $("#particular").val(subjectarray[i].SubjectCode + '-' + subjectarray[i].Description);
                        }
                    }
                }


            });

            function LoadSubject(sectionid) {

                $("#scheduleid").empty();
                for (var i = 0; i < periodarray.length; i++) {
                    if (periodarray[i].SectionId == sectionid) {
                        var option = $("<option />");
                        option.attr("value", periodarray[i].ScheduleId).text(periodarray[i].SubjectCode);
                        $("#scheduleid").append(option);

                    }
                }
            }
        });
    </script>
}
